{% load static tailwind_tags %} {% load socialaccount %}

<!doctype html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body
    id="home-bg"
    class="h-full min-h-screen bg-gradient-to-br from-black via-pink-900 to-purple-800"
  >
    <div class="flex justify-between items-center px-6 py-4">
      <!-- The Title of the Project (CentralissaMusica) -->
      <div class="flex items-center gap-3">
        <div class="relative w-10 h-10">
          <div
            class="absolute inset-0 rounded-xl bg-pink-500 blur-md opacity-70 animate-ping"
          ></div>
          <div
            class="relative w-10 h-10 flex items-center justify-center rounded-xl bg-gradient-to-br from-pink-500 to-purple-500"
          >
            <span class="text-white text-lg animate-bounce">♪</span>
          </div>
        </div>

        <h1 class="text-white font-bold text-xl">
          Centralissa<span class="text-pink-400">Musica</span>
        </h1>
      </div>

      <div class="flex justify-center">
        <form method="GET" action="" class="w-full max-w-xl relative">
          <input
            type="text"
            id="stockSearch"
            name="search"
            placeholder="Search songs, artists, albums..."
            autocomplete="off"
            class="bg-black text-gray-200 w-[500px] px-6 py-3 rounded-xl border border-gray-300 focus:outline-none shadow-sm"
          />

          <div
            class="autocomplete hidden absolute top-full left-0 w-full bg-gray-900 border border-gray-600 mt-2 rounded-xl shadow-2xl z-50 max-h-64 overflow-y-auto"
          ></div>
        </form>
      </div>

      <div class="flex justify-end">
        <a
          href="{% url 'spotify' %}"
          class="bg-green-500 hover:bg-green-600 text-black font-semibold px-4 py-2 rounded-lg shadow-md transition"
        >
          Connect to Spotify
        </a>
      </div>
    </div>

    {% block scripts %}

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js"></script>

    <script src="{% static 'animation.js' %}" defer></script>
    <script src="{% static 'search.js' %}" defer></script>

    {% endblock scripts %}
  </body>
</html>
