{% load static tailwind_tags %} {% load socialaccount %}

<!doctype html>
<html lang="en">
  <head>
    {% tailwind_css %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ artist_name }}</title>
  </head>
  <body
    id="home-bg"
    class="h-full min-h-screen bg-gradient-to-br from-black via-pink-900 to-purple-800"
  >
    <div class="flex justify-between items-center px-6 py-4">
      <!-- The Title of the Project (CentralissaMusica) -->
      <div class="flex items-center gap-3">
        <div class="relative w-10 h-10">
          <div
            class="absolute inset-0 rounded-xl bg-pink-500 blur-md opacity-70 animate-ping"
          ></div>
          <div
            class="relative w-10 h-10 flex items-center justify-center rounded-xl bg-gradient-to-br from-pink-500 to-purple-500"
          >
            <span class="text-white text-lg animate-bounce">♪</span>
          </div>
        </div>

        <h1 class="text-white font-bold text-xl">
          Centralissa<span class="text-pink-400">Musica</span>
        </h1>
      </div>

      <div class="flex justify-center">
        <form
          method="GET"
          action="{% url 'home' %}"
          class="w-full max-w-xl relative"
        >
          <input
            type="text"
            id="music-search"
            name="search"
            placeholder="Search songs, artists, albums..."
            autocomplete="off"
            class="bg-black text-gray-200 w-[500px] px-6 py-3 rounded-xl border border-gray-300 focus:outline-none shadow-sm"
          />

          <div
            class="autocomplete hidden absolute top-full left-0 w-full bg-gray-900 border border-gray-600 mt-2 rounded-xl shadow-2xl z-50 max-h-64 overflow-y-auto"
          ></div>
        </form>
        <!-- Send home logo -->
        <div class="flex jusitfy-center">
          <a href="{% url 'home' %}" class="ml-4">
            <div class="relative w-10 h-10">
              <div
                class="absolute inset-0 rounded-xl bg-pink-500 blur-md opacity-70 animate-ping"
              ></div>
              <div
                class="relative w-10 h-10 flex items-center justify-center rounded-xl bg-gradient-to-br from-pink-500 to-purple-500"
              >
                <span class="text-white text-lg animate-bounce">⌂</span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <!-- For this one this is the main container for like top artists, albums, etc. -->
    <div class="px-20 mt-10">
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <!-- Top Result -->
        <div>
          <h2 class="text-white text-2xl font-bold mb-5">Top result</h2>

{% if top_result %}
  {% if top_result.type == "artist" %}
    <a
      href="{% url 'artist_page' top_result.id %}"
      class="block bg-purple-950/60 hover:bg-purple-900/70 border border-white/10 rounded-2xl p-8 transition"
    >
  {% elif top_result.type == "album"%}
      <a
      href="{% url 'album_view' top_result.artist top_result.name %}"
      class="block bg-purple-950/60 hover:bg-purple-900/70 border border-white/10 rounded-2xl p-8 transition"
    >
  {% else %}
    <a
      href="{% url 'music_player' top_result.artist top_result.name %}"
      class="block bg-purple-950/60 hover:bg-purple-900/70 border border-white/10 rounded-2xl p-8 transition"
    >
  {% endif %}

      <img
        src="{{ top_result.image }}"
        class="w-32 h-32 rounded-full object-cover mb-10"
      />

      <h1 class="text-white text-4xl font-extrabold mb-4">
        {{ top_result.name }}
      </h1>

      <span class="inline-block bg-white/10 text-white px-4 py-2 rounded-full text-sm font-semibold">
        {{ top_result.type|title }}
      </span>
    </a>
{% endif %}
        </div>

        <!-- Tracks -->

        <div>
          <div class="flex justify-between items-center mb-5">
            <h2 class="text-white text-2xl font-bold">Tracks</h2>
          </div>

          <div class="space-y-4">
            {% for track in tracks %}
            <a
              href="{% url 'music_player' track.artist track.name %}"
              class="flex items-center gap-4 bg-gray-900 hover:bg-gray-800 p-4 rounded-xl transition"
            >
              <img src="{{ track.image }}" class="w-14 h-14 rounded-full" />

              <div>
                <div class="text-white font-semibold">{{ track.name }}</div>
                <div class="text-gray-400 text-sm">Track</div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>

>

        
      
      </div>
    </div>
    


<div class="mt-12">
  <div class="flex justify-between items-center mb-5">
    <h2 class="text-white text-2xl font-bold">Artists</h2>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
    {% for artist in artists %}
    <a
      href="{% url 'artist_page' artist.id %}"
      class="text-center group"
    >
      <img
        src="{{ artist.image }}"
        class="w-32 h-32 rounded-full object-cover mx-auto mb-3 group-hover:scale-105 transition"
      />
      <div class="text-white font-bold">{{ artist.name }}</div>
      <div class="text-gray-300 text-sm">Artist</div>
    </a>
    {% endfor %}
  </div>
</div>


<div class="mt-12">
  <div class="flex justify-between items-center mb-5">
    <h2 class="text-white text-2xl font-bold">Albums</h2>
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 gap-6">
    {% for album in albums %}
    <a href="{% url 'album_view' album.name album.artist %}" class="text-center group">
      <img
        src="{{ album.image }}"
        class="w-32 h-32 rounded-full object-cover mx-auto mb-3 group-hover:scale-105 transition"
      />
      <div class="text-white font-bold">{{ album.name }}</div>
      <div class="text-gray-300 text-sm">Album</div>
    </a>
    {% endfor %}
  </div>
</div>

    {% block scripts %}

    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.14.1/dist/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r134/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.net.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/animejs/dist/bundles/anime.umd.min.js"></script>

    <script src="{% static 'search_engine.js' %}" defer></script>
    <script src="{% static 'music_player.js' %}" defer></script>
    {% endblock scripts %}
  </body>
</html>
